<div class="block_snippet_review">
    <div class='snippet_header'>
        <span class=snippet_header__user> 
            {% if post.user != request.user %}
                {{post.user}} à 
            {% else %}
                Vous avez 
            {% endif %}
            publié une critique
        </span>
        <span class=snippet_header__date> 
            {{post.time_created}}
        </span>   
    </div> 
    <div class='snippet_body'>
        <span class=snippet_body__headline>
            {{post.headline}} -
            <span class=snippet_body__headline__rating_stars>
                {% for i in n %}
                    {% if i >= post.rating  %}
                        <span class="star">&#9734;</span>
                    {% else %}
                        <span class="star">&#9733;</span>
                    {% endif %}
                {% endfor %}
            </span>         
        </span>
        <span class=snippet_body__body>
            {{post.body}}
        </span>
        <div class=snippet_body__ticket>
            {% include 'review/snippets/ticket_snippet.html' with post=post.ticket %}
        </div>
        <div class=snippet_body__button>
            {% if post.user == request.user and  post_edit == True %}
                <form action="/review/{{post.ticket.id}}" method="get">
                    <button class="btn">Modifier</button>
                </form>    
                <form action="/deletereview/{{post.id}}" method="get">
                    <button class="btn">Supprimer</button>
                </form>
            {% endif %}
            </div>       
    </div>
</div>
