<div class="block_snippet_ticket">
    <div class='snippet_header'>
        
        <span class=snippet_ticket_header__user> 
            {% if post not in ticket_review %}
                {% if post.user != request.user %}
                    {{post.user}} à
                {% else %}
                    vous avez
                {% endif %}
                demandé une critique
            {% else %}
                ticket -   
                {% if post.user != request.user %}
                    {{post.user}} 
                {% else %}
                    vous
                {% endif %}
            {% endif %}
        </span>
        <span class=snippet_ticket_header__date> 
            {{post.time_created}}
        </span>    
    </div>
    <div class=snippet_body>
        <span class=snippet_body__title>{{post.title}}</span>
        <span class=snippet_body__description>{{post.description}}</span>
        {% if post.image %}
            <img class="snippet_body__image" src="{{ post.image }}" alt="{{ post.title }}">
        {% endif %}
        <div class=snippet_body__button>
            {% if post.user == request.user and post_edit == True %}
                <form action="/ticket/{{post.id}}" method="get">
                    <button class="btn">Modifier</button>
                </form>
                <form action="/deleteticket/{{post.id}}" method="get">
                    <button class="btn">Supprimer</button>
                </form>
            {% endif %}
            {% if ticket_review is not False %}
                {% if post not in ticket_review %}
                    <form action="/review/{{post.id}}" method="get">
                        <button class="btn">Créer une critique</button>
                    </form>
                {% endif %} 
            {% endif %}    
                </div>   
    </div> 
</div>
