{% extends 'review/base.html' %}
{% block title %}
    Inscription
{% endblock %}
{% block header_page %}
    <div class="header_page__registration">
        <span class="header_page__title">Inscription</span>
    </div>  
{% endblock %}
{% block content %}
    <div class="registration_block">
        <p class="registration_block__form title">Inscrivez-vous</p>  
        <form method="post" action="/registration/" class="registration_block__form">
            {% csrf_token %}
            <div class="registration_block__form__control">
                {{ form.username }}
                {{ form.username.errors }}
            </div> 
            <div class="registration_block__form__control">
                {{ form.password }}
            </div> 
            <div class="registration_block__form__control">
                {{ form.confirm_password }}
                {{ form.confirm_password.errors }}
            </div> 
            <ul class=registration_block__form__password_indication>
                <li> doit contenir au minimum 8 caractères</li>
                <li> doit contenir au maximum 40 caractères</li>
                <li> doit contenir au minimum une majuscule</li>
                <li> doit contenir au minimum une minuscule</li>   
                <li> doit contenir au moins un caractère spécial</li>
            </ul>
            
            <div class="registration_block__form__control__button">
                <button  class="btn" type="submit">S'inscrire</button>
            </div>
        </form>
        <form class="registration_block__return" action="/login/" method="get">
            <button class="btn">retour</button>
        </form>
    </div>
{% endblock %}
